*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type:none;
}
.container{
    margin: 0 auto;
    width: 870px;
}
/*--------------------
 header part start 
 ---------------------*/
 .navber{
     background:#562EFF;
 }
 .main-menu {
	display: flex;
	padding: 14px 0 14px 0;
}
 /* ---------- logo part ------- */
.logo{
     width: 20%;
     display: flex;
 }
 .main-menu .logo img{
    width: 40px;
    height: 51px;
}
.main-menu .logo .logo-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:24px;
    color:#FFFFFF;
    padding: 10px 0 0 10px;
}
/* ----- menu part start ------- */
.main-menu .menu{
    width:70%;
    text-align: right;
    line-height:50px;
}
.main-menu .menu li{
    display: inline-block;
    padding-right: 25px;
}
.main-menu .menu a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    font-size: 16px;
    position: relative;
}
.main-menu .menu a::after{
    position: absolute;
    content:'';
    left:0;
    top:31px;
    height: 3px;
    width:0;
    background: #FFFFFF;
    border-radius:1px;
    transition:  width 0.4s linear ;
    -webkit-transition:  width 0.4s linear ;
    -moz-transition:  width 0.4s linear ;
    -ms-transition:  width 0.4s linear ;
    -o-transition:  width 0.4s linear ;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
}
.main-menu .menu a:hover::after{
    width:100%;   
}
/*--------- profile part ----------- */
.profile{
     width: 10%;
 }
 .main-menu .profile img{
    width: 51px;
    height: 51px;
}

/* ----------------------
top player part and top blog part start
------------------------------- */

#top-player{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #9F9F9F;
}
.container-bg{
    background: #FFFFFF;
    padding: 30px 0px 30px 30px;
}
.headline{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:#562EFF;
    padding-bottom: 30px;

}
.all-players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
}
.players{
    display: flex;
    width: 250px;
    border: 1px solid #D1D1D1;
    padding: 20px 0px 20px 0px;
    border-radius: 58px;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    -ms-border-radius: 58px;
    -o-border-radius: 58px;
    box-shadow: 6px 1px 20px #D1D1D1;
}
.player img{
    width: 56px;
    height: 56px;
    padding-left: 10px;

}
.player-name h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 17px 0px 0px 18px;
    font-size: 18px;
    color:#000000;
}
hr{
   margin-top: 30px;
   width:95%;
   color: #D1D1D1;
   margin-bottom: 30px;
}

/* top blog */
.blog-main{
    width: 410px;
    border: 1px solid #D1D1D1;
    box-shadow: 6px 1px 20px #D1D1D1;
}
.blog-main{
    display:flex;
    padding: 15px 15px 15px 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.blog-img img {
	width: 239px;
	height: 157px;
}
.blog-text span {
	display: inline-block;
	padding-top: 9px;
}
.blog-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#9F9F9F;
    padding-left: 17px;
    padding-top: 20px ;
}